
.lower-aligment{

	margin-top: 5%;
}

.hand-over:hover{

	cursor: pointer;

}

.icon-login{

}

.bold{
	font-weight: bold;
}

.circuit-bg{
	background-image: url('../imgs/B3.jpg');
	background-repeat: repeat-y;
	background-size: 100%;
}

.circuit-bg-lnd{
	background-image: url('../imgs/cirLand.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.roundd{
	border-radius: 90rem;
}

.text-mid{
	text-align: center;
	font-size: 1.0vw;
}

.wht-text{
	color: white;
}

.cst-blue-bg{
	background-color: #015eb5;
}

.csm-m-xl{
	margin-bottom: 7.65rem;
}

.text-title{
	font-size: 2.5rem;
}

.text-sub-1{
	font-size: 1.5rem;
}

.text-sub-2{
	font-size: 1.5rem;
}

.text-sub-3{
	font-size: 1.0rem;
}

.inline-img{
	display: inline-block;
}

.pnw{
	background-color: #8531e0 ;
	color: #f9f7fc;
}

.pnw:hover{
	box-shadow: 2px;
	background-color: #f9f7fc ;
	color: #8531e0  ;
}

.rnw{
	background-color: #ff3838 ;
	color: #f9f7fc;
}

.rnw:hover{
	box-shadow: 2px;
	background-color: #f9f7fc  ;
	color: #ff3838  ;
}

.bnw{
	background-color: #0261f9 ;
	color: #f9f7fc;
}

.bnw:hover{
	box-shadow: 2px;
	background-color: #f9f7fc ;
	color: #0261f9  ;
}

.rnw{
	background-color: #cc0d00 ;
	color: #f9f7fc;
}

.rnw:hover{
	box-shadow: 2px;
	background-color: #f9f7fc  ;
	color: #cc0d00  ;
}

.cnw{
	background-color: #09b5ac ;
	color: #f9f7fc;
}

.cnw:hover{
	box-shadow: 2px;
	background-color: #f9f7fc  ;
	color: #09b5ac  ;
}

.gnw{
	background-color: #757777 ;
	color: #f9f7fc;
}

.gnw:hover{
	box-shadow: 2px;
	background-color: #f9f7fc  ;
	color: #757777 ;
}

.dropdown .dropdown-menu{animation-name: example; animation-duration: 0.5s;}
@keyframes example {
    from {opacity:.2}
    to {opacity:1;}
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
 	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.csm-gray-font{
	color: #2212ba;
}